$default: rgb(21, 161, 226);
$primary: rgb(242, 90, 19);
$paper: rgb(232, 231, 227);
$margin: 50px;
$padding: 10px;

.titre {
    margin-top: 10px;
    text-align: right;
    font-weight: 900;
    position: relative;
}